*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container{
    position: relative;
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: white;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#container i{
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    overflow: hidden;
    opacity: 0;
    transition: transform ease 0.5s;
}

h1{
    margin-top: 10px;
}